@charset "UTF-8";
:root {
--baseColor: #004b29;
--black: #000;
--normal: #1d1d1d;
--red: #d80000;
--gray: #a5a5a5;
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  caption {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }